samples/basics/dynamic_dimmer_basics.json
[{"id":"bd25fca4.82f73","type":"dynamic-dimmer","z":"ed33161.ec296e8","name":"","eventInterval":200,"steps":10,"minValue":0,"maxValue":100,"x":500,"y":320,"wires":[["c982004.28e78"]]},{"id":"c982004.28e78","type":"debug","z":"ed33161.ec296e8","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":320,"wires":[]},{"id":"4f1e61c5.be096","type":"inject","z":"ed33161.ec296e8","name":"simple dim 100%","topic":"","payload":"1.0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":240,"wires":[["bd25fca4.82f73"]]},{"id":"1b13342.fc3a9cc","type":"inject","z":"ed33161.ec296e8","name":"simple dim 0%","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":280,"wires":[["bd25fca4.82f73"]]},{"id":"b046b19f.880a2","type":"inject","z":"ed33161.ec296e8","name":"simple dim 50%","topic":"","payload":"0.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":320,"wires":[["bd25fca4.82f73"]]},{"id":"5206d1ff.1918e","type":"inject","z":"ed33161.ec296e8","name":"dim 100% (4 steps)","topic":"","payload":"{\"target\":1,\"config\":{\"steps\":4}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":380,"wires":[["bd25fca4.82f73"]]},{"id":"b290e6c6.c9aa18","type":"inject","z":"ed33161.ec296e8","name":"dim 0% (10 steps, 1 sec)","topic":"","payload":"{\"target\":0,\"config\":{\"steps\":10,\"eventInterval\":1000}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":420,"wires":[["bd25fca4.82f73"]]},{"id":"31e87723.98f108","type":"inject","z":"ed33161.ec296e8","name":"reset","topic":"","payload":"{\"command\":\"RESET\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":500,"wires":[["bd25fca4.82f73"]]},{"id":"b7f987a9.c901c8","type":"inject","z":"ed33161.ec296e8","name":"pause","topic":"","payload":"{\"command\":\"PAUSE\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":460,"wires":[["bd25fca4.82f73"]]}]